ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.6em;
  background-color: var(--background);
  color: var(--primary-text);
}

@media screen and (max-width: 767px) {
  main {
    min-height: calc(100vh - 330px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  main {
    min-height: calc(100vh - 296px);
  }
}

@media screen and (min-width: 1280px) {
  main {
    min-height: calc(100vh - 293px);
  }
}

.section {
  width: 100%;
  margin: 0 auto;
  padding: 50px 0;
}

@media screen and (max-width: 767px) {
  .section {
    padding: 60px 0 0;
  }
}

.btn {
  margin: 0 auto 20px;
}

.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 140px;
  padding: 8px 10px;
  text-align: center;
  border: 1px solid rgb(76, 75, 75);
  border-radius: 20px;
  cursor: pointer;
  color: var(--btn);
  background-color: var(--primary-text);
  transition: all 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: var(--accent);
  color: var(--primary-text);
}

.main-title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 2.1rem;
}

.error{
	color: var(--error);
	margin-bottom: 5px;
}
