:root {
  --background: rgba(20, 28, 36, 1);

  --primary-text: rgba(255, 255, 255, 1);
  --secondary-text: rgba(171, 171, 171, 1);

  --accent: rgba(0, 197, 255, 1);
  --btn:rgba(0, 0, 0, 1);

  --error: rgb(224, 14, 14);
}

