.post-item {
  margin-bottom: 20px;
  border: 1px solid var(--btn);
  border-radius: 20px;
  padding: 15px;
  background-color: var(--btn);
}
.post-title {
  font-size: 14px;
}
.post-info {
  font-size: 10px;
}
.post-text {
}
.post-link {
}
